@use "../scss/" as *;
// .homepage {
// }

.content {
  font-size: 20px;
  color: $text-color;
  display: flex;
  &__left {
    & > h4 {
      text-align: center;
    }

    .num-of-class {
      width: 330px;
      margin-left: 35px;
      margin-right: 45px;
      margin-bottom: 85px;
      background-color: #1ccaef;
      border-radius: 30px;
    }

    .num-of-subject {
      width: 330px;
      margin-left: 35px;
      margin-bottom: 85px;
      margin-right: 45px;
      background-color: #ffd135;
      border-radius: 30px;
    }

    .num-of-student {
      width: 330px;
      margin-left: 35px;
      margin-bottom: 85px;
      margin-right: 45px;
      background-color: #ec3e63;
      border-radius: 30px;
    }

    h4 {
      display: inline-block;
      margin-top: 44px;
      margin-left: 33px;
      text-transform: uppercase;
    }

    .num-and-icon {
      display: flex;
      justify-content: space-between;
      h1 {
        color: #19274c;
        margin-left: 33px;
        margin-top: 20px;
        margin-bottom: 35px;
        font-weight: 900;
      }

      img {
        margin-right: 45px;
        margin-bottom: 45px;
      }
    }
  }

  &__right {
    position: relative;
    // .hero-img {
    // }

    .hero-bg {
      z-index: -1;
      position: absolute;
      top: 190px;
      left: 17px;
    }
  }
}
